<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/profile_navbar.ejs %>

<div class="col-md-12">
    <div class="card hovercard">
        <div class="card-info">
            <% if (user) { %>
            <h4>Hi! <%= user.name %> <%= user.surname %></h4>
            <% } %>
        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span
                        class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <div class="hidden-xs">Upcoming Rides</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span
                        class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <div class="hidden-xs">Ride History</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab"><span
                        class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <div class="hidden-xs">Settings</div>
            </button>
        </div>
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <h3>You have a ride to Istanbul at 21.02.2012</h3>
                <h3>You have a ride to Ankara at 25.02.2012</h3>
            </div>
            <div class="tab-pane fade in" id="tab2">
                <h3>You rode from Izmir to Ankara on 15.02.2012</h3>
                <h3>You rode from Ankara to Izmir on 11.02.2012</h3>
            </div>
            <div class="tab-pane fade in" id="tab3">
                <form class="form-horizontal" method="post" action="/profile">
                    <div class="form-group">
                        <label>Email:</label>
                        <input name="user[email]" value="<%= user.email %>" type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input name="user[name]" value="<%= user.name %>" type="text" class="form-control"
                               id="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input name="user[surname]" value="<%= user.surname %>" type="text" class="form-control"
                               id="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label>Phone Num:</label>
                        <input name="user[phone_num]" value="<%= user.phone_num %>" type="text" class="form-control"
                               id="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label>Age:</label>
                        <input name="user[age]" value="<%= user.age %>" type="text" class="form-control"
                               id="phoneNumber">
                    </div>
                    <div>
                        <label>Gender:</label>
                        <div class="radio">
                            <label><input name="user[gender]"
                                        <% if(user.gender == "boy"){ %>
                                          checked="checked"
                                        <% } %>
                                          type="radio" value="boy">Male</label>
                        </div>
                        <div class="radio">
                            <label><input name="user[gender]"
                                        <% if(user.gender == "girl"){ %>
                                          checked="checked"
                                        <% } %>
                                          type="radio" value="girl">Female</label>
                        </div>
                        <div class="radio">
                            <label><input name="user[gender]"
                                        <% if(!user.gender){ %>
                                          checked="checked"
                                        <% } %>
                                          type="radio" value="else">Something Else</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Car License Plate:</label>
                        <input name="user[car_license_plate]" value="<%= user.car_license_plate %>" type="text"
                               class="form-control" id="carLicensePlate">
                    </div>
                    <div class="form-group">
                        <label>Bank Account IBAN:</label>
                        <input name="user[bank_account]" value="<%= user.bank_account %>" type="text"
                               class="form-control" id="BankAccount">
                    </div>
                    <div>
                        <label>Smokes:</label>
                        <div class="radio">
                            <label><input name="user[smokes]"
                                        <% if(user.smokes){ %>
                                          checked="checked"
                                        <% } %>
                                          type="radio" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input name="user[smokes]"
                                        <% if(!user.smokes){ %>
                                          checked="checked"
                                        <% } %>
                                          type="radio" value="No">No</label>
                        </div>
                    </div>

                    <br>

                    <div class="form-group ">
                        <button name="submit" type="submit" class="btn btn-primary btn-lg btn-block login-button">Save
                        </button>
                    </div>
                </form>

                <br>

                <h4>Member Since <%= user.member_since %></h4>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
    });
</script>
</body>
</html>
